node_modules/
dist/
.vscode/
.vscode-test/
.vscode-test-web/
out/
src/data/baseTheme.ts
src/data/iconNames.ts
icon_theme/active.json

todo.md
*.vsix
zed/icon_themes/mc-dp-icons.json
zed/icons
bun.lock
bun.lockb
